// ? Color Palette

$white: #ffffff;
$woodsmoke: #111117;
$blue-lagoon: #038484;
$gravel: #504f51;
$pumice: #bcbebc;
$santa-fe: #ae795e;
$fountain-blue: #52bbba;
$anakwa: #8fffff;

$shark: #1d2023;
$gray-nurse: #eef1ed;
$sea-nymph: #6ca0a0;
$smalt-blue: #56808e;
$santa-fe-ligth: #a96b53;

$elm: #1c918e;
$santa-fe-muted: #ab6b53;
$big-stone: #122439;
$masala: #443c3b;
$akaroa: #d6b9a3;

$blue-bg: #d5e7e8;
